<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
    <link rel="stylesheet" href="card1.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Buy This Image</h2>
            <div class="tabs">
                <span>Standard Licensing</span>
                <span>Royalty Free</span>
            </div>
            <ul>
                <li>
                    <input type="checkbox">
                    <label for="">
                        <span></span>
                        <span>Personal Use</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox">
                    <label for="">
                        <span></span>
                        <span>Personal Use</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox">
                    <label for="">
                        <span></span>
                        <span>Presentation or newsletter</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox">
                    <label for="">
                        <span></span>
                        <span>Magazine and/or books</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox">
                    <label for="">
                        <span></span>
                        <span>Marketing Package</span>
                    </label>
                </li>
            </ul>
            <button>Buy Now</button>
            <button>Add to Cart</button>
        </div>
    </div>
</body>
</html>