<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <ul>
                <li>
                    <input type="checkbox" name="test" id="apple"  class='box'>
                    <label for="apple" class="label">
                        <span class="label-box"></span>
                        <span class="label-txt">Apple</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="test" id="orange" class='box'>
                    <label for="orange" class="label">
                        <span class="label-box"></span>
                        <span class="label-txt">Orange</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" name="test" id="pear" class='box'>
                    <label for="pear" class="label">
                        <span class="label-box"></span>
                        <span class="label-txt">Pear</span>
                    </label>
                </li> 
            </ul>
        </div>
    </div>
</body>
</html>