<!DOCTYPE html>
<!-- hover only nav (stripe theme)-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#3</title>
    <link rel="stylesheet" href="nav3.css">
</head>
<body>
    <header>
        <div class="mousetrap"></div>
        <div class="navigation navbar-header">

            <span class="navbar-header--title" data-title="profile">Profile</span>
            <span class="navbar-header--title" data-title="menu">Menu</span>
            <span class="navbar-header--title" data-title="settings">Settings</span>
            
        </div>

        <div class="navbar-arrow"></div>

        <div class="navbar-menu">
            <div class="navigation-component profile-component">
                <section data-menu="profile">
                    <div class="profile--menu nav-menu" >
                        <ul>
                            <li>Account Overview</li>
                            <li>Profile Preferences</li>
                            <li>Sign Out</li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="navigation-component menu-component">
                <section data-menu="menu">
                    <div class="navigation--menu nav-menu">
                        <ul>
                            <li>Message Center</li>
                            <li>Planner</li>
                            <li>TaskManager</li>
                            <li>Dashboard</li> 
                            <li>Blog</li>
                            <li>Notes</li>
                            <li>Calendar</li>
                        </ul>
                    </div>
            </section>
            </div>
            <div class="navigation-component settings-component">
                <section  data-menu="settings">
                    <div class="settings--menu nav-menu">
                        <ul>
                            <li>Themes</li>
                            <li>Styles</li> 
                            <li>Sounds</li> 
                            <li>Animations</li> 
                            <li>Language</li>
                            <li>Accessibility</li> 
                        </ul>
                    </div>
                </section>
            </div>
        </div>

    </header>



</body>
<script src="nav3.js"></script>
</html>
<!-- 
        <ul class="profile--menu nav-menu" data-menu="profile">
            <li>Account Overview</li>
            <li>Profile Preferences</li>
            <li>Sign Out</li>
        </ul>

        <ul class="navigation--menu nav-menu" data-menu="menu">
            <li>Message Center</li>
            <li>Planner</li>
            <li>TaskManager</li>
            <li>Dashboard</li> 
            <li>Blog</li>
            <li>Notes</li>
            <li>Calendar</li>
        </ul>

        <ul class="settings--menu nav-menu" data-menu="settings">
            <li>Themes</li>
            <li>Styles</li> 
            <li>Sounds</li> 
            <li>Animations</li> 
            <li>Language</li>
            <li>Accessibility</li> 
        </ul> -->
