<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=w, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <div class="mousetrap overlay"></div>
        <div class="nav-container">
                <div class="navbar">
                    <div class="nav-icons" data-title="profile" data-position="1">
                            <span class="material-icons-outlined icon" data-title="profile">
                            person
                            </span>
                        </div>
                        <div class="nav-icons" data-title="mail" data-position="2">
                            <span class="material-icons-outlined icon" data-title="mail">
                            email
                            </span>
                        </div>
                        <div class="nav-icons" data-title="calendar" data-position="3">
                            <span class="material-icons-outlined icon" data-title="calendar">
                            calendar_month
                            </span>
                                
                        </div>
                        <div class="nav-icons" data-title="home" data-position="4">
                            <span class="material-icons-outlined icon" data-title="home">
                            grid_view
                            </span>
                        </div>
                        <div class="nav-icons" data-title="taskman" data-position="5">
                            <span class="material-icons-outlined icon" data-title="taskman">
                            notifications_none
                            </span>                                  
                        </div>
                        <div class="nav-icons" data-title="note" data-position="6">
                            <span class="material-icons-outlined icon" data-title="note">
                            auto_stories
                            </span>
                        </div>
                        <div class="nav-icons" data-title="settings" data-position="7">
                            <span class="material-icons-outlined icon" data-title="settings">
                            settings
                            </span>
                        </div>
                    </div>
                </div>
            <div class="navpointer-container">
                <div class="nav-pointer"></div>
            </div>
            <div class="nav-menu">
                <div class="card"></div>
            </div>
        </div> 
    </header>
</body>
<script src="app.js"></script>
    <!--
        note add 
        <span class="material-icons-outlined">
        note_add
        </span>
        
        note edit
        <span class="material-icons-outlined">
        edit_note
        </span>

        chat 1
        <span class="material-icons-outlined">
        question_answer
        </span>

        chat 2
        <span class="material-icons-outlined">
        chat
        </span>
    -->
</html>