<!DOCTYPE html>


<!-- Hover only lvl 2 -->
<!-- Prev Time 2hrs -->
<!-- Go! -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#2</title>
    <link rel="stylesheet" href="nav2.css">
</head>
<body>
<div class="mouse-trap"></div>
    <div class="navigation nav--bar-header">

        <span class="nav" data-title="profile">Profile</span>
        <span class="nav" data-title="menu">Menu</span>
        <span class="nav" data-title="settings">Settings</span>

    </div>

    <div class="nav--bar-menus">

        <ul class="profile--menu nav-menu" data-menu="profile">
            <li>Account Overview</li>
            <li>Profile Preferences</li>
            <li>Sign Out</li>
        </ul>

        <ul class="navigation--menu nav-menu" data-menu="menu">
            <li>Message Center</li>
            <li>Planner</li>
            <li>TaskManager</li>
            <li>Dashboard</li> 
            <li>Blog</li>
            <li>Notes</li>
            <li>Calendar</li>
        </ul>

        <ul class="settings--menu nav-menu" data-menu="settings">
            <li>Themes</li>
            <li>Styles</li> 
            <li>Sounds</li> 
            <li>Animations</li> 
            <li>Language</li>
            <li>Accessibility</li> 
        </ul>

    </div>
</body>
<script src="nav2.js"></script>
</html>