<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="bg-overlay"></div>
    <section>
        <div class="container component-container">
            <div class="sidePanel panel">
                <ul class="nav-list">
                    <li>Button</li>
                    <li>Check Box</li>
                    <li>Combo Box</li>
                    <li>Context</li>
                    <li>Date Picker</li>
                    <li>Dialog</li>
                    <li>Dropdown</li>
                    <li>Form</li>
                    <li>Gallery</li>
                    <li>Grid Layout</li>
                    <li>Icon</li>
                    <li>Menu</li>
                    <li>Modal Window</li>
                    <li>Navbar</li>
                    <li>Pop-up Notification</li>
                    <li>Progress Bar</li>
                    <li>Radio Button</li>
                    <li>Slider</li>
                    <li>Spinner</li>
                    <li>Tabs</li>
                    <li>Tag</li>
                    <li>Text Area</li>
                    <li>Toggle</li>
                    <li>Tool Tip</li>
                </ul>
            </div>
            <div class="displayPanel panel">
                <button type="button" class="btn btn-prev">Previous</button>
                <div class="display">
                    <section class="content">
                        <div class="row btn-row">
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                        </div>
                        <div class="row btn-row">
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                        </div>
                        <div class="row btn-row">
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                        </div>
                        <div class="row btn-row">
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                        </div>
                        <div class="row btn-row">
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                            <button class="btn"></button>
                        </div>
                    </section>
                    <section class="context">
                        <h2>These are buttons</h2>
                        <p>This is a description about buttons</p>
                    </section>
                </div>
                <button type="button" class="btn btn-next">Next</button>
            </div>
            <div class="controlPanel panel">
                <p>Control Panel</p>
                <p>This is where a clicked element appears</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container canvas-container">
            <div class="canvas">
                <div class="canvas-icon">
                <button class="btn-canvas">Click</button>    
                </div>
                <div class="canvas-control">
                    <div class="canvas-control--display">
                        <button class="btn-canvas">Click</button>  
                    </div>    
                    <div class="canvas-control--interface">
                        <div class="canvas-control--color">
                            <span class="control-color red"></span>
                            <span class="control-color green"></span>
                            <span class="control-color blue"></span>
                            <span class="control-color white"></span>
                            <span class="control-color black"></span>
                        </div>
                        <div class="canvas-control--anime">
                            <div class="anime-speed">
                                <span class="material-icons-outlined">
                                directions_walk
                                </span>
                                <span class="material-icons-outlined">
                                directions_run
                                </span>
                            </div>
                            <div class="anime-style">
                                <span>
                                    1
                                </span>
                                <span>
                                    2
                                </span>
                                <span>
                                    3
                                </span>
                            </div>
                        </div>
                        <div class="canvas-control--size">
                                <span class="material-icons-outlined sm">
                                crop_7_5
                                </span>
                                <span class="material-icons-outlined md">
                                crop_7_5
                                </span>
                                <span class="material-icons-outlined lg">
                                crop_7_5
                                </span>
                                <span class="material-icons-outlined circ">
                                circle
                                </span>            
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </section>
</body>
</html>