html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background:cornsilk;
}

* {
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1280px;
    margin: 1em auto;
    list-style: none;
    height: 100%;
}

.card {
    position: relative;
    border-radius: 14px;
    padding: 1em;
    margin: 2em;
    flex: 0 0 25vw;
    width: 25vw;
    height: 35vw;
    display: block;
    background-image: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .3) 25%, rgba(246, 249, 252, .3) 50%, #f6f9fc 60%);
    transition: all 300ms;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.b6 {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.checklist-header {
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: .15ch;
    font-weight: 400;
}


.checklist-container {
    position: relative;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.checklist-item {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;

}

.checklist-item:hover {
   background: rgba(0,0,0, .05);
}
.checklist-item input {
    appearance: none;
}
.checklist-item label {
    box-sizing: border-box;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

.checkbox {
    width: 30%;
    height: 100%;
}
.checkbox::after {
    content: "";
    position: absolute;
    top: 32%;
    left: 10%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.61);
}

.checklist-text {
    box-sizing: border-box;
    padding: 2em;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 100%;
}

.checklist-item input:checked + label .checkbox::after {
    background: black;
}

.checklist-item input:checked + label {
    background: rgba(0,0,0, .05);
}

.checkbox-v2 {
    -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.checkbox-v2:before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* .checkbox-v2:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */

.checkbox-v2--disabled {
  color: #959495;
  cursor: not-allowed;
}


.checkbox-v2:checked::before {
  transform: scale(1);
}
.label-v2 {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
                    /* min -- max */
  gap: 0.5em;
}

.card {
    background: white;
}
.heading-2 {
    background: inherit;
    box-sizing: border-box;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
}

.email-cont {
    background: inherit;
    box-sizing: border-box;
    padding: 4em;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 20%;
}

.email-1 {
    border: 1px solid rgba(0, 0, 0, 0.356);
    border-radius: 8px;
    font-size: 18px;
    line-height: 2.15;
    box-sizing: border-box;
    padding-left: 1em;
}

.content-2 {
    position: absolute;
    top: 40%;
    box-sizing: border-box;
    background: inherit;
    width: 100%;
    height: 60%;
    padding: 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-2 label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.content-2 label input {
    appearance: none;
    display: grid;
    place-content: center;
    border: 1px solid rgba(0, 0, 0, 0.404);
    width: 1.65em;
    height: 1.65em;
    transform: translateY(-.3em)
}

.content-2 label input:after {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
  background-color: CanvasText;
  transition: 100ms;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.content-2 label input:checked:after {
    transform: scale(1);
}

.content-2 button {
    width: 100%;
    background: black;
    color: white;
    padding: .5em 1.5em;
    border-radius: 8px;
    border: 0;
    font-size: 18px;
    line-height: 1.15;
}

.c4-h {
    height: 20%;
}

.c4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    height: 80%;
}

.c4-label {
    position: relative;
    display: block;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.301);
}

.c4-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    top: 0;
    left: 25%;
    height: 50%;
    width: 75%;
}
.c4-description {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
    font-size: 12px;
    font-weight: 300;
    top: 30%;
    left: 20%;
    height: 70%;
    width: 80%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.circ {
    appearance: none;
    height: 1.65em;
    width: 1.65em;
    border-radius: 50%;
    border: 1px solid grey;
    display: grid;
    place-content: center;
    margin: 0;
    padding: 0;
}

.circ:before {
    content: "";
    width: 0.85em;
    height: 0.85em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: CanvasText;
    transition: 100ms;
    box-shadow: inset 1em 1em black;
    transform: scale(0)
}
.circ:checked:before {
    transform: scale(1);
}


#c5-h, #c6-h, #c8-h {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    top: 0;
    left: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.semantic-1, .semantic-2, .semantic-3 {
    appearance: none;
    opacity: 0;
    z-index: -1;
}
.s1, .s2, .s3-b {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    user-select: none;
}
.s1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-radius:5em;
    height: 3px;
    width: 5em;
    background: rgba(0, 0, 0, 0.247);
    transition: 300ms ease;
}

.s1::after, .s2::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background: #fff linear-gradient(transparent,rgba(0,0,0,.05));
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%), 0 0 0 1px rgb(34 36 38 / 15%) inset;
    transition: 300ms ease;
}

.semantic-1:checked + .s1::after, .semantic-2:checked + .s2::after {
    left: 3.8em;
}transition

.semantic-1:checked + .s1::before {
    background: black;
}

.s2:before {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    height: 1.4em;
    width: 5em;
    border-radius: 32px;
    border: 1px solid rgba(128, 128, 128, 0.177);
    background:rgba(128, 128, 128, 0.301);
    transition: 300ms ease;
}

.semantic-2:checked + .s2::before {
    background: #2185d0;
}

.s4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 1em;
    border: 1px solid rgba(128, 128, 128, 0.568);
}

.s3-a {
    height: 5em;
    width: 5em;
}

.s3-a::before {
    content: "";
    position: absolute;
    justify-self: center;
    align-self: center;
    height: 1.65em;
    width: 1.65em;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.925);
}

.s3-a::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 40%;
    height: 1.05em;
    width:.45em;
    border-right: 3px solid rgba(0, 0, 0, 0.753);
    border-bottom: 3px solid rgba(0, 0, 0, 0.774);
    transform: scale(0);
    transform-origin: bottom left;
    transition: all 250ms ease;
}

#s3-a:checked + .s3-a::after {
    transform: rotate(35deg) scale(.8);
}

.s3-b, .s3-c {
    height: 5em;
    width: 10em;
    padding: 1em;
}

.s3-b::before {
    content: "";
    position: relative;
    height: 3px;
    width: 5em;
    border-radius: 32px;
    background:rgba(0, 0, 0, 0.247);
    transition: 150ms ease;
}

.s3-b::after {
    content: "";
    position: absolute;
    left: 1.5em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background: #fff linear-gradient(transparent,rgba(0,0,0,.05));
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%), 0 0 0 1px rgb(34 36 38 / 15%) inset;
    transition: 300ms ease;
}

#s3-b:checked + .s3-b:before {
    background: rgba(0, 0, 0, 0.618);
}

#s3-b:checked + .s3-b:after, #s3-c + .s3-c::after {
    transform: translateX(5em);
}

.s3-c {
    height: 5em;
    width: 10em;
    padding: 2em;
}

.s3-c::after {
    content: "";
    position: absolute;
    top: 34%;
    left: -2.65em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background: #fff linear-gradient(transparent,rgba(0,0,0,.05));
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%), 0 0 0 1px rgb(34 36 38 / 15%) inset;
    transition: 300ms ease;
}

.s3-c::before {
    content: "";
    position: relative;
    height: 1.4em;
    width: 5em;
    border-radius: 32px;
    border: 1px solid rgba(128, 128, 128, 0.177);
    background:rgba(128, 128, 128, 0.301);
    transition: 300ms ease;
}


#s3-b:checked + .s3-b:after {
    transform: translateX(5em);
}

#s3-c:checked + .s3-c::after {
    left: 1.3em;
}

#s3-c:checked + .s3-c::before {
    background:  #2185d0;
}


#c8-h {
    position: absolute;
    box-sizing: border-box;
    padding: 2em;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
}

.textarea-1 {
    z-index: 3;
    position: relative;
    height: 90%;
    width: 90%;
    border: 2px solid rgba(128, 128, 128, 0.211);
    border-bottom: 0;
    border-radius: inherit;
    box-sizing: border-box;
    padding: 2em;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1px;
    resize: none;
    outline: none; 
}

.textarea-1::-webkit-scrollbar {
    display: none;
}

.textbox-state {
    z-index: 3;
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 81%;
    list-style: none;
    box-sizing: border-box;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1em;
    margin: 0;
    bottom: 7%;
    background: rgba(0, 0, 0, 0.616);
}

.textbox-state::before {
    content: "";
    position: absolute;
    top: 1%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.616);
    border-radius: inherit;
    z-index: 2;
}
.textbox-state::after {
    content: "";
    position: absolute;
    top: 1%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(88, 86, 86);
    border-radius: inherit;
    z-index: 1;
}

.textbox-state-elm {
    z-index: 3;
    position: relative;
    box-sizing: border-box;
    width: 1.75em;
    height: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 8px;
    background: rgba(128, 128, 128, 0.295);
    color: rgba(255, 255, 255, 0.849);
    transition: 200ms ease;
}

.textbox-state-elm svg path {
    transform: scale(.8) translate(12%, 12%);
    fill: none;
    stroke: rgba(255, 255, 255, 0.8);
}

.textbox-state-elm:hover svg path {
    fill: white;
}

.textbox-state-elm:hover {
    color: white;
    background:rgba(128, 128, 128, 0.495);;
}
.lh {
    height: 65%;
    width: 65%;
}

.todo-component-wrapper {
    position: relative;
    height: 100%;
    width: 100%; 
    overflow: hidden;
}

.icon-navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 7%;
    background: white;
}

.todo-component-date {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    letter-spacing: 1px;
}

.today {
    position: relative;
    background: black;
    border: 1px solid white;
    height: 40%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgba(153, 152, 152, 0.822);
}

.dayToday {
    position: relative;
    background: black;
    border: 1px solid white;
    height: 60%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(153, 152, 152, 0.822);
}

.dayToday-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 5%;
    background: white;
    padding: .5em;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.dayToday-reference-count {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    margin: 0 1em;
    background: green;
    color: black;
}

.dayToday-taskset {
    position: relative;
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}


.dayToday-taskset ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: black;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.dayToday-taskset ul li {
    z-index: 100;
}

.dayToday-taskset ul:after {
    content: "";
    position: absolute;
    height: 80%;
    width: 70%;
    border-radius: 32px;
    background: lightskyblue;
    color:rgba(0, 0, 0, 0.753);
    pointer-events: none;
    z-index: 1;
}

.weekly-tasklist {
    background: coral;
    height: calc(100% - 7% - 15% - 5% - 22vh);
    width: 100%;
}

.weekly-tasklist ul {
    position: relative;
    height: 100%;
    width: 100%;
    background:rgba(0, 0, 0, 0.0247);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}


.weekly-tasklist ul li {
    height: 30%;
    width: 100%;
    background: rgba(0, 0, 0, 0.018);
}

.calendar-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background: whitesmoke;
}

.month-header {
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.month-days {
    border: 1px solid black;
    position: relative;
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.month-days div {
    height: auto;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.0342);
    background: rgba(0, 0, 0, 0.0847)
}

.month-days div:hover {
    background: rgba(0, 0, 0, 0.16) ;
}
.month-todo {
    position: relative;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasklist-sidePanel-wrapper {
    position: relative;
    height: 100%; 
    width: 100%;
}
.sidePanel-heading {
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidePanel-view {
    border: 1px solid rgba(0, 0, 0, 0.295);
    position: relative;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    padding: 1em 0;
}

.sidePanel-view ul {
    position: relative;
    width: 100%;
    height: 100%;
}

.sidePanel-toolbar {
    position: relative;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    padding: .5em;
}

.sidePanel-toolbar ul {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}